<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #65655E;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .but {
    display: flex;
    justify-content:center;
    padding-bottom: 16px;

  }

  .but-signup{
    display: flex;
    justify-content:center;
    padding-top: 16px;
  }

  .toolbar {
    height: 80px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #7D80DA;
    color: white;
    font-weight: 600;
  }

  .toolbar span {
    font-size: 20px;
    text-align: center;
  }

  .divider {
    padding: 0px 30px;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .fields {
    padding: 16px 24px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  /> -->
  <div class="spacer"></div>
  <span>All About Me</span>
    <div class="spacer"></div>    
</div>

<div class="content" role="main">

  <div class="card-container">
    <mat-card>
      <mat-card-title>Login to <strong>All About Me</strong></mat-card-title>
      <mat-card-content>
          <mat-form-field class="fields" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field class="fields" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <div class ="but">
            <button mat-raised-button>Login</button>
          </div>
          <div class="divider">
            <mat-divider></mat-divider>
          </div>
          <div class="but-signup">
            <span ><strong>New here?</strong></span>
          </div>
          <div class ="but-signup">
            <button mat-raised-button>Create New Account</button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>