<div class="toolbar" role="banner">
    <div class="spacer"></div>
    <span>All About Me</span>
    <div class="spacer"></div>    
</div>

<div class="content" role="main">
    <div class="card-container">
        <mat-card>
            <mat-card-content>
                <mat-card-title>User: {{username}}</mat-card-title>
                <br>
                <mat-divider></mat-divider>
                <br>
                <mat-card-title>All About Me</mat-card-title>
                <mat-card-subtitle>{{aboutMe}}</mat-card-subtitle>
                <mat-card-title>My Classes</mat-card-title>
                <mat-card-subtitle>{{myClasses}}</mat-card-subtitle>
                <mat-card-title>Future Goals</mat-card-title>
                <mat-card-subtitle>{{futureGoals}}</mat-card-subtitle>
                <mat-card-title>Fun Stuff</mat-card-title>
                <mat-card-subtitle>{{funStuff}}</mat-card-subtitle>
                <mat-card-title>Other Stuff</mat-card-title>
                <mat-card-subtitle>{{otherStuff}}</mat-card-subtitle>
                <mat-card-title>Interesting Links</mat-card-title>
                <mat-card-subtitle>{{interestingLinks}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</div>
